[submodule ".registry"]
	path = .registry
	url = https://github.com/bmcclintock/bmcclintock.r-universe.dev
	branch = HEAD
[submodule "momentuHMM"]
	path = momentuHMM
	url = https://github.com/bmcclintock/momentuHMM
	branch = develop
[submodule "multimark"]
	path = multimark
	url = https://github.com/bmcclintock/multimark
